<section class="blog-hero">
    <div class="hero-image-wrapper">
      <img src="assets/images/hurghdablogs.jpg" alt="Hurghada Red Sea" loading="lazy" />
    </div>
    <div class="hero-content">
      <h1>{{ 'HURGHADA_BLOG.TITLE' | t }}</h1>
      <p>{{ 'HURGHADA_BLOG.SUBTITLE' | t }}</p>
    </div>
  </section>
  
  <section class="blog-content">
    
    <h2>{{ 'HURGHADA_BLOG.INTRO_TITLE' | t }}</h2>
    <p>{{ 'HURGHADA_BLOG.INTRO_TEXT' | t }}</p>
  
    <h3>{{ 'HURGHADA_BLOG.WHERE_TO_STAY_TITLE' | t }}</h3>
    <p>{{ 'HURGHADA_BLOG.WHERE_TO_STAY_TEXT' | t }}</p>
  
    <h3>{{ 'HURGHADA_BLOG.WHAT_TO_DO_TITLE' | t }}</h3>
  
    <h4>{{ 'HURGHADA_BLOG.FOOD_TITLE' | t }}</h4>
    <p>{{ 'HURGHADA_BLOG.FOOD_TEXT' | t }}</p>
  
    <h4>{{ 'HURGHADA_BLOG.SCUBA_TITLE' | t }}</h4>
    <p>{{ 'HURGHADA_BLOG.SCUBA_TEXT' | t }}</p>
  
    <h4>{{ 'HURGHADA_BLOG.QUAD_TITLE' | t }}</h4>
    <p>{{ 'HURGHADA_BLOG.QUAD_TEXT' | t }}</p>
  
    <h4>{{ 'HURGHADA_BLOG.OTHER_TITLE' | t }}</h4>
    <ul>
      <li>{{ 'HURGHADA_BLOG.ACTIVITY_1' | t }}</li>
      <li>{{ 'HURGHADA_BLOG.ACTIVITY_2' | t }}</li>
      <li>{{ 'HURGHADA_BLOG.ACTIVITY_3' | t }}</li>
      <li>{{ 'HURGHADA_BLOG.ACTIVITY_4' | t }}</li>
      <li>{{ 'HURGHADA_BLOG.ACTIVITY_5' | t }}</li>
    </ul>
  
    <h3>{{ 'HURGHADA_BLOG.BEACHES_TITLE' | t }}</h3>
    <p>{{ 'HURGHADA_BLOG.BEACHES_TEXT' | t }}</p>
  
    <h3>{{ 'HURGHADA_BLOG.DIVING_TOURS_TITLE' | t }}</h3>
    <p>{{ 'HURGHADA_BLOG.DIVING_TOURS_TEXT' | t }}</p>
  
    <h3>{{ 'HURGHADA_BLOG.LOCAL_MARKETS_TITLE' | t }}</h3>
    <p>{{ 'HURGHADA_BLOG.LOCAL_MARKETS_TEXT' | t }}</p>
  
    <h3>{{ 'HURGHADA_BLOG.CONCLUSION_TITLE' | t }}</h3>
    <p>{{ 'HURGHADA_BLOG.CONCLUSION_TEXT' | t }}</p>
  
  </section>
  