<nav class="main-nav" 
[class.scrolled]="isScrolled" 
[class.light]="!isScrolled"
[class.hide-on-mobile]="isOffcanvasOpen">
    <div class="container nav-container">
      <!-- الشعار -->
      <a class="logo" routerLink="/">
        <img src="assets/images/toppicktravel-removebg-preview2.png" alt="Logo" />
      </a>
  
      <!-- القائمة في الوسط -->
      <ul class="nav-links">
        <li><a routerLink="/"routerLinkActive="active-link">{{ 'NAV.HOME' | t }}</a></li>
        <!-- <li><a routerLink="tour"routerLinkActive="active-link">Tours</a></li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle">  {{ 'NAV.HURGHADA_TOURS' | t }}</a>
        
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/categrytourDetail', 38]">{{ 'NAV.CAIRO_TOURS' | t }}</a></li>
            <li><a [routerLink]="['/categrytourDetail', 39]"> {{ 'NAV.LUXOR_TOURS' | t }}</a></li>
            <li><a [routerLink]="['/categrytourDetail', 40]">{{ 'NAV.SAFARI_TOURS' | t }}</a></li>
            <li><a [routerLink]="['/categrytourDetail', 28]">{{ 'NAV.SEA_TOURS' | t }}</a></li>
            <li><a [routerLink]="['/categrytourDetail', 37]">Diving</a></li>
            <li><a [routerLink]="['/categrytourDetail', 34]"> {{ 'NAV.THINGS_TO_DO_HURGHADA' | t }}</a></li>
          </ul>
        </li>

   
        <li><a routerLink="transfer"routerLinkActive="active-link"> {{ 'NAV.TRANSFERS' | t }}</a></li>
        <li><a routerLink="/"routerLinkActive="active-link">{{ 'NAV.BLOGS' | t }}</a></li>
        <li><a routerLink="/"routerLinkActive="active-link">{{ 'NAV.REVIEWS' | t }}</a></li>
        <li><a routerLink="/about"routerLinkActive="active-link">{{ 'NAV.ABOUT' | t }}</a></li>
      </ul>
      <div class="language-switcher">
        <button class="lang-btn">
          <img src="assets/images/poland.png" alt="Poland"(click)="changeLang('nl')">
        </button>
        <button class="lang-btn">
          <img src="assets/images/german.jpg" alt="Arabic"(click)="changeLang('de')">
        </button>
        <button class="lang-btn">
          <img src="assets/images/brith.png" alt="French"(click)="changeLang('en')">
        </button>
      </div>
      
      <!-- Social Icons على اليمين s-->
      <div class="social-icons">
        <a href="https://www.facebook.com/share/1Aatp9uunF/?mibextid=wwXIfr" class="social-icon" data-name="facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social-icon" data-name="twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="social-icon" data-name="instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <button class="hamburger-btn" (click)="toggleOffcanvas()" [class.active]="isOffcanvasOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>
    
    </div>
  </nav>


  <!-- Hamburger Button for Mobile -->

<!-- Offcanvas Menu -->
<!-- Overlay -->
<div
  class="offcanvas-overlay"
  [class.active]="isOffcanvasOpen"
  (click)="closeOffcanvas()"
  (touchstart)="closeOffcanvas()">
</div>

<!-- Offcanvas Menu -->
<div class="offcanvas-menu" [class.active]="isOffcanvasOpen">
  
  <!-- Header -->
  <div class="offcanvas-header">
    <a class="logo" routerLink="/" (click)="closeOffcanvas()" (touchstart)="closeOffcanvas()">
      <img src="assets/images/toppicktravel-removebg-preview.png" alt="Logo" />
    </a>

    <button
      type="button"
      class="close-btn"
      (click)="closeOffcanvas()"
      (touchstart)="closeOffcanvas()">
      &times;
    </button>
  </div>

  <!-- Links -->
  <ul class="offcanvas-links">
    <li>
      <a routerLink="/" routerLinkActive="active-link"
         (click)="closeOffcanvas()"
         (touchstart)="closeOffcanvas()">
        {{ 'NAV.HOME' | t }}
      </a>
    </li>

    <!-- Hurghada Dropdown -->
    <li class="offcanvas-dropdown">
      <button
        type="button"
        class="dropdown-toggle"
        (click)="toggleDropdown($event, 'hurghada')"
        (touchstart)="toggleDropdown($event, 'hurghada')">
        {{ 'NAV.HURGHADA_TOURS' | t }}
        <i class="fas fa-chevron-down"></i>
      </button>

      <ul class="dropdown-submenu" [class.open]="activeDropdown === 'hurghada'">
        <li><a [routerLink]="['/categrytourDetail', 38]" (click)="closeOffcanvas()" (touchstart)="closeOffcanvas()">{{ 'NAV.CAIRO_TOURS' | t }}</a></li>
        <li><a [routerLink]="['/categrytourDetail', 39]" (click)="closeOffcanvas()" (touchstart)="closeOffcanvas()">{{ 'NAV.LUXOR_TOURS' | t }}</a></li>
        <li><a [routerLink]="['/categrytourDetail', 40]" (click)="closeOffcanvas()" (touchstart)="closeOffcanvas()">{{ 'NAV.SAFARI_TOURS' | t }}</a></li>
        <li><a [routerLink]="['/categrytourDetail', 28]" (click)="closeOffcanvas()" (touchstart)="closeOffcanvas()">{{ 'NAV.SEA_TOURS' | t }}</a></li>
        <li><a [routerLink]="['/categrytourDetail', 37]" (click)="closeOffcanvas()" (touchstart)="closeOffcanvas()">Diving</a></li>
        <li><a [routerLink]="['/categrytourDetail', 34]" (click)="closeOffcanvas()" (touchstart)="closeOffcanvas()">{{ 'NAV.THINGS_TO_DO_HURGHADA' | t }}</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/transfer"
         (click)="closeOffcanvas()"
         (touchstart)="closeOffcanvas()">
        {{ 'NAV.TRANSFERS' | t }}
      </a>
    </li>

    <li><a routerLink="/" (click)="closeOffcanvas()" (touchstart)="closeOffcanvas()">{{ 'NAV.BLOGS' | t }}</a></li>
    <li><a routerLink="/" (click)="closeOffcanvas()" (touchstart)="closeOffcanvas()">{{ 'NAV.REVIEWS' | t }}</a></li>
    <li><a routerLink="/about" (click)="closeOffcanvas()" (touchstart)="closeOffcanvas()">{{ 'NAV.ABOUT' | t }}</a></li>
  </ul>

  <!-- Social -->
  <div class="offcanvas-social">
    <a href="https://www.facebook.com/share/1Aatp9uunF/?mibextid=wwXIfr" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>

</div>
